$color-green-light: #62a383;
$color-grey-light: #A9A9A9;
$color-grey-dark: #494E53;
$color-green-lighter: #D4F2DB;
$color-grey-magenta: #c3c5d6;
$color-grey-darker: #16161D;
$color-green:#10472c;
$color-silent-dark: #2c313b;