@import './_globalColors';

.wrapper {

}

.dropdown {
	padding: 0.5em 1em;
	font-size: 12px;
	text-align: left;
	display: flex;
	align-items: center;

	.flagIcon {
		margin-left: 5px;
	}
}

.menu {
	position: absolute;
	width: 30px;
	box-sizing: border-box;
	background-color: white;
	border: 1px solid $color-grey-light;
	margin-left: 109px;

	:hover {
		background-color: $color-green-lighter;
	}
}

.flagIcon {
	width: 19px;
	height: 19px;
}

.menuItem {
	padding: 0.3em;
	width: 100%;
	box-sizing: border-box;
	display: flex;
	align-items: center;
}
