@import './_globalColors';

body {
	height: 100%;
	background-color: $color-grey-magenta;
	color: rgba(255, 255, 255, .7);
	box-sizing: border-box;
	font-family: 'Muli', sans-serif;
	margin: 0;
}

.mainSection {
	min-height: 150vh;
	overflow: hidden;
	position: relative;
	display: flex;
	flex-direction: column;
	padding-left: 6%;
	padding-top: 5%;
	box-sizing: border-box;
}

.topContainer {
	height: 15vh;
	display: flex;
	justify-content: flex-start;
}

.descriptionContainer {
	display: none; // TODO remove if needed
	margin: 0 0 0 12%;
	width: 30%;
	color: $color-grey-dark;
}

.mainContainer {
	padding: 1em 2em 1em 0;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 100%;
}


.footer {
	width: 100%;
	position: relative;
	height: 230px;
	bottom: 0;
	background-color: $color-grey-darker;
	-webkit-font-smoothing: antialiased;
	justify-content: space-between;
	display: flex;
	flex-direction: column;
	padding-bottom: 20px;
	padding-top: 40px;
	box-sizing: border-box;
}

.socialContainer {
	height: 100px;
	display: flex;
	flex-direction: column;
	padding-left: 10%;
	justify-content: space-around;
}

.titleContainer {
	position: relative;
	font-size: 28px;
	color: $color-green;
}


.silentItem {
	font-size: 90%;
	color: $color-silent-dark;
	text-shadow: 1px 0 rgba(255, 255, 255, .4);
	display: flex;
}

.copyrightItem {
	display: flex;
	justify-content: center;
	align-items: center;
}

.linkItem {
	cursor: pointer;
	color: inherit;
	text-decoration: none;
	width: 140px;
}

.iconCredits {
	display: flex;
	justify-content: center;
	align-items: center;
	color: $color-silent-dark;
	text-shadow: 1px 0 rgba(255, 255, 255, .4);
	font-size: 14px;
	a {
		color: $color-silent-dark;
		text-shadow: 1px 0 rgba(255, 255, 255, .4);
		font-size: 14px;
	}
}

i {
	margin-right: 10px;
}


@media print {
	.noPrint {
		display: none;
	}
	.mainSection {
		min-height: 0;
	}
	body {
		background-color: white;
	}
}
