@import './_globalColors';
@import './_globalStyles';

.main {
	display: flex;

	:last-child {
		margin-right: 0;
	}
}

.section {
	flex-grow: 1;
	border: 1px solid white;
	padding: 1em;
	margin-right: 0.5em;
	box-sizing: border-box;
}

.sectionTitle {
	text-align: center;
	font-size: 24px;
	margin-bottom: 0.8em;
}


.mealsInput {
	display: flex;
	flex-direction: column;
}


.actionBtn {
	width: 250px;
	padding: 0.5em 1em;
	background-color: $color-green;
	color: $color-grey-magenta;
	font-size: 16px;
	cursor: pointer;
}
