@import './_globalColors';

.main {

}

.form {
	display: flex;
	justify-content: flex-start;
	align-items: center;
}

.inputLabel {
	width: 275px;
	color: $color-grey-dark;
	margin-bottom: 5px;
}

.inputfield {
	width: 190px;
	padding: .5em;
	margin-right: 1.5em;
	height: 1.6em;
	border: 1px solid $color-grey-light;
}

.saveBtn {
	padding: 0.5em 1em;
	background-color: $color-grey-dark;
	color: white;
	font-size: 14px;
	cursor: pointer;
}

.list {
	list-style: none;
	padding: 0;
	overflow: auto;
	height: 260px;
	width: 280px;
}

.listItem {
	background-color: white;
	color: black;
	padding: 0.4em .8em;
	width: 250px;
	overflow: hidden;
	border: 1px solid $color-grey-light;
	margin-bottom: 2px;
	display: flex;
	justify-content: space-between;
}

.deleteBtn {
	cursor: pointer;
	color: $color-grey-light;
}

@media print {
	.noPrint {
		display: none;
	}
}
