@import './_globalColors';
@import './_globalStyles';

.main {

}

.form {
	display: flex;
	justify-content: flex-start;
	align-items: center;
}

.inputLabel {
	width: 275px;
	color: $color-grey-dark;
	margin-bottom: 5px;
}

.inputField {
	width: 190px;
	padding: .5em;
	margin-right: 1.5em;
	height: 1.6em;
	border: 1px solid $color-grey-light;
}

.saveBtn {
	padding: 0.5em 1em;
	background-color: $color-grey-dark;
	color: white;
	font-size: 14px;
	cursor: pointer;
}

