@import './_globalColors';
@import './_globalStyles';
.main {
	display: flex;
	flex-direction: column;
	margin-bottom: 2em;
}

.buttonBar {
	display: flex;
	justify-content: flex-end;
	height: 50px;
	align-items: center;
}

.printBtn {
	margin-left: 0.5em;
	margin-top: .5em;
	width: 60px;
	padding: 0.5em 1em;
	background-color: $color-grey-dark;
	color: white;
	font-size: 14px;
	margin-bottom: .5em;
	cursor: pointer;
}

.table {
	border: 1px solid $color-grey-dark;
	display: flex;
	flex-direction: column;
}

.cell {
	color: black;
	width: 13%;
	border-right: 1px solid $color-grey-light;
	padding: 0.5em;
}

.smallCell {
	width: 9%;
}

.row {
	display: flex;
	justify-content: space-between;
	border: 1px solid $color-grey-dark;
	background-color: white;

	:last-child {
		border-right: none;
	}
}

.headerRow {
	background-color: $color-green-light;
}

.headerCell {
	font-weight: 500;
	color: white;
	text-align: center;
	border-right: none;
}

.buttons {
	display: flex;
	margin-top: 1em;
	margin-bottom: 2em;
}

